<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header id="header">
        
        <div class="container">
            <nav>
               <div>
                <a href="/" class="nav-brand" style="font-weight: 700;">Great Quotes </a>
                <ul>
                    <li><a href="/">All Quotes</a></li>
                    <li><a href="/add-user">New Quotes</a></li>
                 </ul>
        
               </div>
            </nav>
        </div>        
        
    
</header>
    <!-- Header -->