<tr class="row">
    <tr >
        <td class="q" height="60%" width="70%" style="padding-left: 30px; font-size: 1.2rem; font-weight: 1000;">
        Jai mata di
        </td>
        <td align="center" rowspan="2" width="30%" style="padding: 0 20px;"><a href="/view-quotes"><button style="width: 300px; height: 50px; background:  rgb(50, 17, 82); color: #fff; font-size: 1.2rem; font-weight: 500;">View Quote</button></a></td>
    
    </tr>
    <tr>
        <td height="40%" width="70%" style="padding-left: 30px; color: red; font-size: 1rem; font-weight: 1000;">-B</td>
    </tr>
</tr> 